.note {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-alternative);
	width: 100%;
	border-radius: 5px;
	color: var(--text-color);
}

.note img {
	width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.textContainer {
	padding: 1rem;
	flex-grow: 1;
}

.infoContainer {
	display: flex;
	flex-direction: column;
}

.bottomContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.bottomContainer p {
	font-size: 0.9rem;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.buttonContainer i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50px;
	font-size: 1rem;
	opacity: 80%;
}

.buttonContainer i:hover {
	cursor: pointer;
	background-color: #5050501e;
	opacity: 100%;
	transition: 0.2s;
}

.colorPicker {
	position: fixed;
	margin-bottom: 6.2rem;
	margin-right: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--background-color-alternative);
	border-radius: 5px;
	box-shadow: #1f1f1f1e 0px 0px 5px;
	padding: 0.5rem;
}

.colorPicker .color {
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	margin-right: 0.2rem;
}

.colorPicker .color:hover {
	border: 1px solid #707070;
	cursor: pointer;
}

.dropdownOptions {
	position: fixed;
	margin-bottom: 9rem;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-alternative);
	border-radius: 5px;
	box-shadow: #1f1f1f1e 0px 0px 5px;
}

.dropdownOptions span {
	display: block;
	padding: 0.5rem;
	width: 5rem;
	cursor: pointer;
}

.dropdownOptions span:hover {
	background-color: #5050501e;
}

.red {
	background-color: var(--note-red);
}

.pink {
	background: var(--note-pink);
}

.yellow {
	background: var(--note-yellow);
}

.green {
	background: var(--note-green);
}

.blue {
	background: var(--note-blue);
}

.purple {
	background: var(--note-purple);
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
	.bottomContainer p {
		font-size: 0.8rem;
	}
}
