.notesContainer {
	display: flex;
	flex-direction: column;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1rem;
}

.titleContainer h2 {
	font-weight: 300;
}

.notesGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	justify-content: center;
	gap: 1.5rem;
}

/* Laptop */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
	.notesGrid {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}
