.formInput {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
}

.formInput label {
	display: block;
	font-size: 0.8rem;
	margin: 0.1rem;
}

.formInput input {
	border: 1px solid var(--disabled-color);
	background-color: var(--background-color-alternative);
	color: var(--text-color);
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 100%;
	outline: none;
}

.formInput input.error {
	border: 1px solid var(--error-color);
}

.formInput input:focus {
	outline: none;
	border: 1px solid var(--primary-color);
}

.formInput .errorMessage {
	display: block;
	color: var(--error-color);
	font-size: 0.8rem;
	margin: 0.1rem;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.titleContainer :is(a, span),
.fa-circle-info {
	color: var(--primary-color);
	text-decoration: none;
	font-size: 0.7rem;
}

.title {
	display: flex;
	align-items: center;
}

.fa-circle-info {
	padding: 0 0 0 0.3rem;
}

.forgotLink {
	white-space: nowrap;
}
