@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--font-family: "Nunito", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	--background-color: #f5f5f5;
	--background-color-alternative: #ffffff;
	--text-color: #16181c;
	--primary-color: #f4b615;
	--primary-color-contrast: #ffffff;
	--disabled-color: #d9d9d9;
	--disabled-color-contrast: #888888;
	--note-red: #f28b82;
	--note-pink: #fdcfe8;
	--note-yellow: #fff475;
	--note-green: #ccff90;
	--note-blue: #aecbfa;
	--note-purple: #d7aefb;
}

html[data-theme="dark"] {
	--background-color: #000000;
	--background-color-alternative: #16181c;
	--text-color: #e7e9ea;
	--primary-color: #41331c;
	--primary-color-contrast: #ffffff;
	--disabled-color: #d9d9d9;
	--disabled-color-contrast: #888888;
	--note-red: #5c2b29;
	--note-pink: #5b2245;
	--note-yellow: #635d19;
	--note-green: #345920;
	--note-blue: #2d555e;
	--note-purple: #42275e;
}

body {
	background-color: var(--background-color);
	font-family: var(--font-family);
	color: var(--text-color);
	font-size: 10px;
}

body::-webkit-scrollbar {
	display: none;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

p,
span,
a {
	font-size: 1.1rem;
}

main {
	padding: 1rem 3rem;
}

/* Laptop */
@media only screen and (max-width: 1366px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.4rem;
	}

	p,
	span,
	a {
		font-size: 1rem;
	}
}

/* Smartphone */
@media only screen and (max-device-width: 640px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 1.4rem;
	}

	p,
	span,
	a {
		font-size: 1rem;
	}

	main {
		padding: 1.2rem;
	}
}
