main#auth {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-alternative);
}

.mainContainer {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-around;
	align-items: center;
}

.authContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: max(20rem, 0%);
	padding: 2rem;
}

.authContainer form {
	width: 100%;
}

.authContainer h3 {
	display: block;
	font-weight: 400;
	margin: 0.5rem 0;
}

.divider {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--disabled-color-contrast);
}

.divider .line {
	background-color: var(--disabled-color);
	height: 1px;
	width: 100%;
}

.divider p {
	display: block;
	font-size: 1rem;
	margin: 0.4rem;
}

.button {
	align-items: center;
}

.button i {
	margin: 0 0.35rem;
}

svg {
	transform: translateY(0.2rem);
}

path {
	fill: var(--primary-color);
}

.googleButton iframe {
	margin: 0 !important;
}
